head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
    
  meta(http-equiv="refresh", content=content)
  
  title= title
  
  link(id="favicon" rel="icon" href="https://cdn.glitch.com/3b1856bc-8a0a-4ff9-a5ce-64f1b51204c6%2Fleftium.ico?1499456167657" type="image/x-icon")
   
  

body
 center
   p="If your email app does not automatically open, use the link below or manually copy the addresses:"
   p
     a(href=url)
       span= addresses
       
   p="After successfully sending your email, you may close this page."
   
 